.section {
  margin-bottom: 60px;
  text-align: start;
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.categories {
  width: 147px;
  display: flex;
  margin-bottom: 3px;
  justify-content: space-between;
  color: #a0a0a0;
}

.selected {
  color: #101010;
  border-bottom: 1px solid #101010;
}

.items {
  display: flex;
  flex-shrink: 0;
  overflow: scroll;
  margin-bottom: 8px;
  height: 169px;
}

.section_page_link {
  position: absolute;
  right: 0;
}
