.articlePage {
  margin-top: 58px;
  margin-bottom: 67px;
  padding: 0 10px 100px;
  width: 100vw;
  min-height: calc(100vh - 125px);
  text-align: start;
}

.article {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  position: relative;
}

.title {
  padding: 10px 0;
}

.header {
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #8c31ff;
  margin-bottom: 10px;
}

.icon {
  margin-right: 5px;
}

.article__title {
  margin-bottom: 10px;
}

.article__text {
  margin-bottom: 15px;
  overflow-x: scroll;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100%;
  flex-shrink: 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.time {
  line-height: 22px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.footer__info {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 22px;
  font-size: 12px;
  font-weight: 400;
}

.scoreIcon,
.commentIcon {
  margin-right: 5px;
}

.commentIcon {
  margin-left: 15px;
}

.footer > a {
  display: flex;
  align-items: flex-end;
}
