.listContainer {
  position: relative;
  padding-bottom: 52px;
  min-height: calc(100vh - 141px);
}

.title {
  padding: 10px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
  padding-top: 10px;
}

.categories {
  width: 147px;
  display: flex;
  margin-bottom: 3px;
  justify-content: space-between;
}

.selected {
  color: #101010;
  border-bottom: 1px solid #101010;
}

.unselected {
  color: #a0a0a0;
}
