.item {
  background-color: white;
  margin-bottom: 8px;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  position: relative;
}

.header {
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #8c31ff;
  margin-bottom: 10px;
}

.icon {
  margin-right: 5px;
}

.title {
  max-height: 78px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text {
  max-height: 54px;
  overflow: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 30px;
  width: 100%;
  flex-shrink: 0;
  border-top: 1px solid #eaeaea;
}

.time {
  line-height: 22px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.footer__info {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 22px;
  font-size: 12px;
  font-weight: 400;
}

.scoreIcon,
.commentIcon {
  margin-right: 5px;
}

.commentIcon {
  margin-left: 15px;
}
