.navbar {
  height: 67px;
  width: 100%;
  background-color: #fff;
  padding: 8px 21px 12px 21px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
}

.navbarBtn {
  border: none;
  background: none;
  height: 47px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  color: #101010;
}
