.news {
  background-color: white;
  margin-right: 10px;
  width: 260px;
  height: 100%;
  border-radius: 8px;
  padding: 12px;
  text-align: start;
  position: relative;
}

.button {
  border: none;
  background-color: #8c31ff;
  border-radius: 4px;
  padding: 3px;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.title {
  height: 52px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 30px;
  width: calc(100% - 24px);
  flex-shrink: 0;
  position: absolute;
  bottom: 12px;
  border-top: 1px solid #eaeaea;
}

.time {
  line-height: 22px;
}

.footer__info {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 22px;
  font-size: 12px;
  font-weight: 400;
}

.footer__img {
  margin-right: 5px;
  margin-left: 10px;
}
