* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Poppins", sans-serif;
  color: #101010;
  text-align: center;
  background-color: #f3eaff;
}

main {
  margin-top: 74px;
  margin-bottom: 67px;
  padding: 0 10px 5px;
}

.page {
  margin-top: 74px;
}

.welcome {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 8px;
  background: linear-gradient(
    75.1deg,
    #7118e1 21.71%,
    #9563ff 54.62%,
    #cb8afe 84.27%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}

h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

nav {
  position: fixed;
  bottom: 0;
}

ol {
  padding: 0;
  list-style: none;
}
